In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [11]:
PATH_RATING = '../data/Books_rating_t.csv'
PATH_BOOKS = '../data/books_data_t.csv'
PATH_SAMPLE_RATING = '../data/Sample_Books_rating.csv'

In [26]:
def load_data(*,n_rating:int=-1):
    rating = pd.read_csv(PATH_RATING)
    books = pd.read_csv(PATH_BOOKS)
    return rating[:n_rating], books

In [21]:
def find_book_by_name(books:pd.DataFrame, book_name:str):
    return books[books['Titre'] == book_name]

In [27]:
rating, books = load_data()

In [28]:
find_book_by_name(books, book_name='Harry Potter and the Chamber of Secrets')

,Titre,Description,Auteurs,Image,Lien Google,Editeur,Date publication,infoLink,Genre,Nb scores
62999,Harry Potter and the Chamber of Secrets,"Witchcraft, wizardry - fiction.",['J. K. Rowling'],http://books.google.com/books/content?id=nmXTy...,http://books.google.com/books?id=nmXTy4FPfcwC&...,Raincoast Books,1999,http://books.google.com/books?id=nmXTy4FPfcwC&...,['Juvenile Fiction'],14.0

In [31]:
def get_most_scored_book(books:pd.DataFrame, n=10):
    books['Nb scores'] = pd.to_numeric(books['Nb scores'], errors='coerce')
    sorted_data = books.sort_values('Nb scores', ascending=False, inplace=False)
    return sorted_data[:n]

In [32]:
get_most_scored_book(books, n=10)

,Titre,Description,Auteurs,Image,Lien Google,Editeur,Date publication,infoLink,Genre,Nb scores
26834,The Alchemist,"""My heart is afraid that it will have to suffe...",['Paulo Coelho'],http://books.google.com/books/content?id=pTr44...,http://books.google.com/books?id=pTr44Sx6oWQC&...,Harper Collins,25/04/2006,http://books.google.com/books?id=pTr44Sx6oWQC&...,['Fiction'],4895.0
62005,A Mission to Millions; The Story of Ernie Alle...,#1 NEW YORK TIMES BESTSELLER • NOW A MAJOR MOT...,['Laura Hillenbrand'],http://books.google.com/books/content?id=1PeLD...,http://books.google.com/books?id=1PeLDQAAQBAJ&...,Random House Trade Paperbacks,29/07/2014,http://books.google.com/books?id=1PeLDQAAQBAJ&...,['Biography & Autobiography'],4572.0
76345,Unbroken,#1 NEW YORK TIMES BESTSELLER • NOW A MAJOR MOT...,['Laura Hillenbrand'],http://books.google.com/books/content?id=1PeLD...,http://books.google.com/books?id=1PeLDQAAQBAJ&...,Random House Trade Paperbacks,29/07/2014,http://books.google.com/books?id=1PeLDQAAQBAJ&...,['Biography & Autobiography'],4572.0
128081,Blue Like Jazz: Nonreligious Thoughts on Chris...,A popular minister recounts his zealous early ...,['Donald Miller'],http://books.google.com/books/content?id=fNC3f...,http://books.google.nl/books?id=fNC3fdxYgZMC&p...,Thomas Nelson Inc,2012-04,http://books.google.nl/books?id=fNC3fdxYgZMC&d...,['Biography & Autobiography'],4562.0
57822,Eclipse,As the love triangle heats up in the third boo...,['Stephenie Meyer'],http://books.google.com/books/content?id=lw99O...,http://books.google.com/books?id=lw99Oii9R90C&...,"Little, Brown Books for Young Readers",07/08/2007,https://play.google.com/store/books/details?id...,['Young Adult Fiction'],4392.0
127021,Redeeming Love,NATIONAL BESTSELLER • NOW A MAJOR MOTION PICTU...,['Francine Rivers'],http://books.google.com/books/content?id=I7eMl...,http://books.google.nl/books?id=I7eMlFZ-drcC&p...,Multnomah,04/08/2009,https://play.google.com/store/books/details?id...,['Fiction'],4249.0
112603,A Walk in the Woods,Traces the author's adventurous trek along the...,['Bill Bryson'],http://books.google.com/books/content?id=a-8nn...,http://books.google.nl/books?id=a-8nnowMab0C&q...,Broadway,1999,http://books.google.nl/books?id=a-8nnowMab0C&d...,['Travel'],4234.0
162135,The Tipping Point: How Little Things Can Make ...,An introduction to the Tipping Point theory ex...,['Malcolm Gladwell'],http://books.google.com/books/content?id=w6V_P...,http://books.google.com/books?id=w6V_PwAACAAJ&...,"Wheeler Publishing, Incorporated",2003,http://books.google.com/books?id=w6V_PwAACAAJ&...,['Reference'],4218.0
159446,"Travel Light, Eat Heavy Along the Appalachian ...","God only knows what possessed Bill Bryson, a r...",['Bill Bryson'],http://books.google.com/books/content?id=WnyDg...,http://books.google.com/books?id=WnyDgV_vNhsC&...,Anchor Canada,15/05/2012,http://books.google.com/books?id=WnyDgV_vNhsC&...,['Travel'],4161.0
31260,Henrietta,#1 NEW YORK TIMES BESTSELLER • “The story of m...,['Rebecca Skloot'],http://books.google.com/books/content?id=GFevO...,http://books.google.com/books?id=GFevO-QxQDgC&...,Crown,02/02/2010,https://play.google.com/store/books/details?id...,['Science'],4067.0

In [47]:
def corr_between_price_and_score(books:pd.DataFrame, rating:pd.DataFrame):
    titre_score = rating[['Titre', 'revue/score', 'Prix']].dropna()
    return titre_score[['Titre', 'Prix', 'revue/score']].corr(numeric_only=True)

In [48]:
corr_between_price_and_score(books, rating)

                 Prix  revue/score
Prix         1.000000    -0.010513
revue/score -0.010513     1.000000

In [76]:
def better_auteur(rating:pd.DataFrame, books:pd.DataFrame):
    top_auteurs = rating.merge(books[['Titre','Auteurs']], on='Titre')
    top_auteurs = top_auteurs[top_auteurs['revue/score'] == 5]
    top_auteurs = top_auteurs.groupby('Auteurs').size().sort_values(ascending=False).head(10)
    return top_auteurs

In [77]:
better_auteur(rating, books)

Auteurs
['J. R. R. Tolkien']             29252
['Jane Austen']                  24723
['Charles Dickens']              13224
['John Steinbeck']               10746
['John Ronald Reuel Tolkien']    10145
['C. S. Lewis']                   9031
['Harper Lee']                    8973
['J. K. Rowling']                 8324
['Kurt Vonnegut']                 7436
['George Orwell']                 7375
dtype: int64

In [78]:
def worst_auteur(rating:pd.DataFrame, books:pd.DataFrame):
    pire_auteurs = rating.merge(books[['Titre','Auteurs']], on='Titre')
    pire_auteurs = pire_auteurs[pire_auteurs['revue/score'] == 1]
    pire_auteurs = pire_auteurs.groupby('Auteurs').size().sort_values(ascending=False).head(10)
    return pire_auteurs

In [79]:
worst_auteur(rating, books)

Auteurs
['Robert Jordan']                2518
['Jane Austen']                  1418
['Charles Dickens']              1390
['Thomas Harris']                1387
['Tom Clancy']                   1170
['BusinessNews Publishing']      1098
['Emily Bronte']                  924
['J. R. R. Tolkien']              907
['William Golding']               900
['Patricia Daniels Cornwell']     864
dtype: int64

In [80]:
# critique_pos = rating[rating['revue/score'] > 3]
# top_pos_livre = critique_pos.groupby('Titre').size().sort_values(ascending=False).head(1)
# print("Livre avec le plus grand nombre de critiques positives:")
# print(top_pos_livre)

# critique_neg = rating[rating['revue/score'] < 3]
# top_neg_livre = critique_neg.groupby('Titre').size().sort_values(ascending=False).head(1)
# print("Livre avec le plus grand nombre de critiques négatives:")
# print(top_neg_livre)

# critique_neutre = rating[rating['revue/score'] == 3]
# top_neutre_livre = critique_neutre.groupby('Titre').size().sort_values(ascending=False).head(1)
# print("Livre avec le plus grand nombre de critiques neutres:")
# print(top_neutre_livre)

def get_most_scored_book_foreach_rating(books:pd.DataFrame, rating:pd.DataFrame, n=10):
    top_pos_livre = rating[rating['revue/score'] > 3]
    top_pos_livre = top_pos_livre.groupby('Titre').size().sort_values(ascending=False)[:n]
    top_neg_livre = rating[rating['revue/score'] < 3]
    top_neg_livre = top_neg_livre.groupby('Titre').size().sort_values(ascending=False)[:n]
    top_neutre_livre = rating[rating['revue/score'] == 3]
    top_neutre_livre = top_neutre_livre.groupby('Titre').size().sort_values(ascending=False)[:n]
    return top_pos_livre, top_neg_livre, top_neutre_livre

In [82]:
top_pos_livre, top_neg_livre, top_neutre_livre= get_most_scored_book_foreach_rating(books, rating, n=10)

In [87]:
top_pos_livre.head(), top_neg_livre.head(), top_neutre_livre.head()

(Titre
 The Hobbit             20455
 Pride and Prejudice    18013
 Atlas Shrugged          9216
 Wuthering Heights       7992
 The Giver               6442
 dtype: int64,
 Titre
 Atlas Shrugged                                         2305
 Crossroads of Twilight (The Wheel of Time, Book 10)    1959
 Wuthering Heights                                      1529
 Pride and Prejudice                                    1273
 The Bear and the Dragon                                1242
 dtype: int64,
 Titre
 Wuthering Heights      1259
 Pride and Prejudice    1085
 Atlas Shrugged          992
 The Hobbit              782
 The Giver               636
 dtype: int64)

In [117]:
def distribution_of_book_score(books:pd.DataFrame, top_n=10):
    books['Genre'].value_counts().nlargest(top_n).plot(kind='bar', figsize=(10, 6), title='Top 20 Genres')

In [118]:
distribution_of_book_score(books)

AttributeError: 'float' object has no attribute 'replace'